
@font-face {
  font-family: 'GochiHand-Regular';
  src: url('GochiHand-Regular.eot?#iefix') format('embedded-opentype'),  url('GochiHand-Regular.woff') format('woff'), url('GochiHand-Regular.ttf')  format('truetype'), url('GochiHand-Regular.svg#GochiHand-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
